



/*----------------------Simple Cards-----------------------*/
.simpleCards .shape{
	border-style: solid; border-width: 0 40px 40px 0; float:right; height: 0px; width: 0px;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}
.simpleCards .shape-text{
	color:#fff; font-size:12px; font-weight:bold; position:relative; right:-22px; top:-3px; white-space: nowrap;
	-ms-transform:rotate(30deg); /* IE 9 */
	-o-transform: rotate(360deg);  /* Opera 10.5 */
	-webkit-transform:rotate(46deg); /* Safari and Chrome */
	transform:rotate(46deg);
}
.simpleCards .offer{
	background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.simpleCards .shape {
	border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.simpleCards .offer-radius{
	border-radius:7px;
}
.simpleCards .offer-danger {	border-color: #d9534f; }
.simpleCards .offer-danger .shape{
	border-color: transparent #d9534f transparent transparent;
}
.simpleCards .offer-success {	border-color: #5cb85c; }
.simpleCards .offer-success .shape{
	border-color: transparent #5cb85c transparent transparent;
}
.simpleCards .offer-default {	border-color: #999999; }
.simpleCards .offer-default .shape{
	border-color: transparent #999999 transparent transparent;
}
.simpleCards .offer-primary {	border-color: #428bca; }
.simpleCards .offer-primary .shape{
	border-color: transparent #428bca transparent transparent;
}
.simpleCards .offer-info {	border-color: #5bc0de; }
.simpleCards .offer-info .shape{
	border-color: transparent #5bc0de transparent transparent;
}
.simpleCards .offer-warning {	border-color: #f0ad4e; }
.simpleCards .offer-warning .shape{
	border-color: transparent #f0ad4e transparent transparent;
}

.simpleCards .offer-content{
	padding:0 20px 10px;
}



