<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSPLEX v0.1</title>
	<!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
     <!-- Morris Chart Styles-->
   
        <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
     <!-- Google Fonts-->
<!--    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> -->
     <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
		
    <link rel="stylesheet" href="assets/css/ui-grid.css" type="text/css">
    
</head>
<body ng-app="dsplex" ng-cloak>
    <div id="wrapper" ng-controller="StartUpCtrl">
        <nav class="navbar navbar-default top-navbar max1"  style="background-color:black" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="head" href="index.html"><strong><img src="assets/img/1.png"></strong></a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Welcome &nbsp;<small>{{userName}}</small>
                        <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a ui-sref="change-profile"><i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li ng-repeat="menu in menus">
                        <a ng-if="menu.visible" ui-sref-active="active-menu" ui-sref="{{menu.state}}"><i class="{{menu.menuIcon}}"></i>{{menu.label}}</a>
                    </li>
					</ul>
            </div>
        </nav>
        <!-- /. NAV SIDE  -->
			<div id="page-wrapper" ui-view="main">

			
			</div>
             <!-- /. PAGE INNER  -->
			<!--  <div class="col-lg-12">
				<footer><p id="foot" class="center">Copyright © 2016 DSplex Inc. All rights reserved.Designed & Developed by <span><a target="_blank" href="http://www.dsplex.com">Dsplex</a></span></p></footer>
			</div> -->
            </div>
         <!-- /. PAGE WRAPPER  -->
    
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
	
	
	
	
    <script src="assets/js/jquery-1.10.2.js"></script>
	<script src="web/angular.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="web/angular-ui-router.min.js"></script>
	<script src="web/ui-bootstrap.min.js"></script>
    <script src="web/angular-touch.js"></script>
    <script src="web/angular-animate.js"></script>

	
	

	
	<script src="app/app.module.js"></script>
	<script src="app/core.module.js"></script>
	<script src="app/widgets.module.js"></script>
	<script src="app/widgets.route.js"></script>
	<script src="app/app.controller.js"></script>
	
	 
	 <!-- Referal Plan-->
	 <script src="app/referal-plan/referal-plan.module.js"></script>
	 <script src="app/referal-plan/referal-plan.controller.js"></script>
	 <script src="app/referal-plan/referal-plan.service.js"></script>
	 
	 <!-- Referal FAQ-->
	 <script src="app/referal-faq/widget/referal-faq.module.js"></script>
	 <script src="app/referal-faq/widget/referal-faq.directive.js"></script>
	 <script src="app/referal-faq/widget/referal-faq.controller.js"></script>
	  <script src="app/referal-faq/widget/referal-faq.service.js"></script>
	  
	  <script src="app/widgets/circular_tabs/circular_tabs.js"></script>
	  

    
</body>
</html>
